* {
  font-family: 'Playfair Display', serif;
}

/* color pallettes */

.clear.day {
  background-color: #9eddff;
}

.clear.night {
  background-color: #0c134f;
}

.cloudy.day {
  background-color: #b1d0e0;
}

.cloudy.night {
  background-color: #2d4356;
}

.rainy.day {
  background-color: #749bc2;
}

.rainy.night {
  background-color: #2e4374;
}

.snowy.day {
  background-color: #f0f0f0;
}

.snowy.night {
  background-color: #526d82;
}

.foggy {
  background-color: #f1efef;
}

.thundery {
  background-color: #1a1a40;
}

.default {
  background-color: #eeeeee;
}
